# config.h is used for local configurations that should not be published
config.h
.idea/
sketches/libraries/Adafruit_NeoPixel
sketches/libraries/ISL29125_Breakout
sketches/libraries/arduino-base64
#sketches/libraries/ubirch-sim800
sketches/libraries/jsmn
build/
