//
// Created by Matthias Jugel on 28/07/15.
//

#ifndef UBIRCH_FEWL_CONFIG_H
#define UBIRCH_FEWL_CONFIG_H

// put your thingspeak url here including the token and the channel id
#define PUSH_URL "http://xxx.api.ubirch.com/update"

#define FONA_APN "<apn>"
#define FONA_USER "<username>"
#define FONA_PASS "<password>"

#endif //UBIRCH_FEWL_CONFIG_H
